<div class="container-hero">
  <ng-container *ngIf="characterObservable$ | async as hr">

    <div class="container-comics">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">Image</th>
            <th scope="col">Comic Name</th>
            <th scope="col">Description</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hero of hr.data.results">
            <td class="img">
              <img
                src="{{hero.thumbnail.path}}.{{hero.thumbnail.extension}}"
                class="img"
                [alt]="hero.title">
            </td>
            <td>{{ hero.title || 'No title available'}}</td>
            <td>
              {{ hero.description || 'No description available' }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </ng-container>

</div>
